
.customBg {
    background: linear-gradient(to top left, #012640, #000810); 
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 650px;
    height: auto;
  }

.link {
    color: white !important;
}


@media (max-width: 768px) { 
    .logo {
      width: 390px; 
      margin: 0 auto;
    }
  }