body {
    background: linear-gradient(135deg, #012640, #00437B);
    min-height: 100vh;
}

.projectContainer h1 {
    color: #CBB26A;
    background: linear-gradient(90deg, #A09358, #CBB26A, #A09358); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectContainer {
    padding: 20px 0;
    max-width: 80%;
    margin: 0px auto 80px;
}

.justify-content-center {
    display: flex;
    align-items: stretch;
}

.projectColumn {
    padding: 15px;
}

.projectCard {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    flex: 1 0 auto;
}

.projectCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.projectImageContainer {
    position: relative;
    width: 100%;
    padding-top: 56.25%; 
    overflow: hidden; 
}

.projectImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardBody {
    display: flex;
    flex-direction: column;
    background-color: #011B2E; 
    padding: 20px;
    color: #d0cbc3;
}

.cardTitle {
    color: #d0cbc3 !important;
}

.cardText {
    flex-grow: 1;
    color: #d0cbc3;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.repoButton, .hostButton {
    margin-right: 5px;
    border: none;
    transition: background-color 0.2s, color 0.2s;
}

.repoButton {
    background-color: #002855;
    color: #CBB26A;
}

.repoButton:hover {
    background-color: #CBB26A;
    color: #002855;
}

.hostButton {
    background-color: #CBB26A;
    color: #002855;
}

.hostButton:hover {
    background-color: #002855;
    color: #CBB26A;
}
